<h1>Cửa hàng Nhật</h1>

<div id="container">
  <div id="product-container">
    <div id="product-card" *ngFor="let product of products; let i = index">
      <h2>{{ product.name }}</h2>
      <h2>{{ product.price }}</h2>
      <img src ="imageurl" alt="shiba"><img>
      <h2>Số lượng: {{ product.inStock }}</h2>
      <button [disabled]="product.inStock === 0" (click)="addToCart(i)">Thêm vào giỏ</button>
    </div>
  </div>

  <div id="cart-container">
    <div id="product-in-cart" *ngFor="let item of cart; let i = index">
      <p>{{ item.name }}</p>
      <p>{{ item.price }}</p>
      <p>Số lượng: {{ item.quantity }}</p>
      <button (click)="removeFromCart(i)">Xóa khỏi giỏ</button>
    </div>
    <p *ngIf="cart.length === 0">Giỏ hàng trống</p>
    <button *ngIf="cart.length > 0" (click)="checkout()">Thanh Toán</button>
    <p *ngIf="total > 0">Tổng cộng: {{ total }}</p>
  </div>